* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  color: #e5dcd4;
}

.nav-link {
  color: #f3f3f3;
  font-weight: 500;
  font-size: 20px;
}

.navbar {
  min-height: 80px;
  padding: 0 32px;
  background: #62360f;
  display: flex;
  align-items: center;
  position: relative; /* important */
  z-index: 1000;
}


.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo */
.logo {
  max-height: 80px;
  width: auto;
  object-fit: contain;
  border-radius: 50%;
}

/* Mobile fixes */
@media (max-width: 768px) {
  .navbar {
    min-height: 70px;
    padding: 0 16px;
  }
  .navbar-collapse {
 
  /* .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
  } */
  }
  .navbar-collapse.show ~ .home-banner {
    transform: translateY(120px); /* small, controlled move */
  }
  .navbar-nav {
    gap: 12px;
    text-align: center;
  }

  .nav-link {
    font-size: 18px;
    padding: 12px 0;
  }

  .logo {
    max-height: 48px;
  }
}
.dd{
  color: #62360f;
}