.footer {
    background-color: #62360f;
    border-top: 1px solid #eaeaea;
    padding: 50px 20px 20px;
    font-family: "Poppins", sans-serif;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
  }
  
  .footer-section h4 {
    margin-bottom: 12px;
    font-size: 16px;
    color: #ffffff;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
  }
  
  .footer-section a:hover {
    color: #fdfdfd;
  }
  
  .brand h2 {
    font-size: 22px;
    color: #f2eeee;
    margin-bottom: 10px;
  }
  
  .brand p {
    font-size: 14px;
    color: #fbfbfb;
    line-height: 1.6;
  }
  
  .footer-bottom {
    margin-top: 40px;
    text-align: center;
    font-size: 13px;
    color: #888;
  }
  .footer-section p{
    color: #c3cef5;
  }

  /* Footer Logo */
.footer-logo {
  width: 100px;          /* adjust if needed */
  height: auto;
  object-fit: contain;
  margin-bottom: 12px;
  border-radius: 50%;  /* optional: remove if logo is square */
}
